<section id="shipper__registration" class="container-fluid section__shipper well--xs">
  <div class="row">
    <!-- BS offset is not included since "section.section__shipper > div.row" has flex center assigned. / Shun-->
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <h2>荷主アカウント登録</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <div class="input--group">
            <h3>会社情報</h3>
            <%= f.input :company_name, label: "会社名", required: true, autofocus: true %>
            <%= f.input :industry, label: "業種", collection: Shipper::INDUSTRIES, prompt: "選択してください", required: true %>
            <div class="container-fluid input--container">
              <div class="row row--block">
                <%= f.input :post_code, label: "郵便番号", wrapper_html: {class: "col-xs-12 col-sm-4"}, required: true %>
              </div>
            </div>
            <div class="container-fluid input--container">
              <div class="row row--block">
                <%= f.input :prefecture, label: "都道府県", wrapper_html: {class: "col-xs-12 col-sm-4"}, required: true %>
                <%= f.input :ward, label: "市区町村", wrapper_html: {class: "col-xs-12 col-sm-8"}, required: true %>
              </div>
            </div>
            <%= f.input :street, label: "住所", required: true %>
          </div>

          <div class="input--group">
            <h3>連絡先 ＆ ログイン情報</h3>
            <div class="container-fluid input--container">
              <div class="row row--block">
                <%= f.input :name_kanji, label: "お名前", wrapper_html: {class: "col-xs-12 col-sm-6"}, required: true %>
                <%= f.input :name_furigana, label: "お名前（フリガナ）", wrapper_html: {class: "col-xs-12 col-sm-6"}, required: true %>
              </div>
            </div>
            <%= f.input :phone, label: "電話番号", required: true %>
            <%= f.input :email, label: "メールアドレス（ログインするときはこちらを使用します）", required: true, error: "メールアドレスを入力してください" %>
            <%= f.input :password, label: "パスワード（英数字で#{@minimum_password_length}文字以上のパスワードを入力してください）", required: true, error: "パスワードを入力してください" %>
            <%= f.input :password_confirmation, label: "パスワード確認", required: true %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "無料で登録する", class:"btn-primary btn__null btn__width--100" %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
<%= javascript_include_tag('jquery.jpostal') %>
<script>
  $(function (){
    $('#shipper_post_code').jpostal({
      postcode : [ '#shipper_post_code' ],
      address  : {
        '#shipper_prefecture' : '%3',
        '#shipper_ward'       : '%4',
        '#shipper_street'     : '%5'
      }
    });
  });
</script>