<section id="sign_in" class="container-fluid section__carrier flex--center--center well--xs">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <div class="input--group">
            <h3>運送アカウントにログインする</h3>
            <%= f.input :email, label: 'メールアドレス', required: false, autofocus: true %>
            <%= f.input :password, label: 'パスワード', label_html: { class: 'label__append--container' } do %>
              <span class="label__append--text"><%= render "shared/user_forgotpw"%></span>
              <%= f.input :password, label: false, hint: false, wrapper: false, error: false %>
            <% end %>
            <%= f.input :remember_me, label: 'ログインしたままにする', as: :boolean if devise_mapping.rememberable? %>
            <!-- <div>
              <p>「ログインしたままにする」を選択すると、このデバイスでログインが求められる回数が減ります。お客様のアカウントのセキュリティを保つため、個人でお使いのデバイスでのみこのオプションを使うようにしてください。</p>
            </div> -->
            <div class="form-actions">
              <%= f.button :submit, "ログインする", class:"btn-primary btn__null btn__width--100" %>
            </div>
          </div>
        </div>
      <% end %>
      <hr>
      <%= link_to '新規登録する', new_carrier_registration_path, class:"btn btn-primary btn__null btn__width--100" %>
    </div>
  </div>
</section>