<div class="shipper-shipments-row">
  <div class="shipper-shipments-row-nColumn column-header shipper-shipments-id">
    <p>
      Ship-ID
    </p>
  </div>
  <div class="shipper-shipments-row-nColumn column-header shipper-shipments-pickup">
    <p>
      発地
    </p>
  </div>
  <div class="shipper-shipments-row-nColumn column-header shipper-shipments-delivery">
    <p>
      着地
    </p>
  </div>
  <div class="shipper-shipments-row-nColumn column-header shipper-shipments-terms">
    <p>
      Terms
    </p>
  </div>
  <div class="shipper-shipments-row-nColumn column-header shipper-shipments-rate">
    <p>
      Rate
    </p>
  </div>
  <div class="shipper-shipments-row-nColumn column-header shipper-shipments-carrier">
    <p>
      運送会社
    </p>
  </div>
  <div class="shipper-shipments-row-nColumn column-header shipper-shipments-status">
    <p>
      Status
    </p>
  </div>
</div>

<% @shipments.each do |shipment| %>
  <div class="shipper-shipments-row">
    <div class="shipper-shipments-row-nColumn shipper-shipments-id">
      <p>
        <%= shipment[:shipment].id %>
      </p>
      <p>
        <%= link_to "詳細", shipper_shipment_path(shipment[:shipment]) %>
      </p>
    </div>

    <div class="shipper-shipments-row-nColumn shipper-shipments-pickup">
      <p>
        P-ID:<%= shipment[:pickup].id %> <%= shipment[:pickup].company_name %>
      </p>
      <p>
        <%= shipment[:pickup].prefecture %><%= shipment[:pickup].address %>
      </p>
    </div>

    <div class="shipper-shipments-row-nColumn shipper-shipments-delivery">
      <p>
        D-ID:<%= shipment[:delivery].id %> <%= shipment[:delivery].company_name %>
      </p>
      <p>
        <%= shipment[:delivery].prefecture %><%= shipment[:delivery].address %>
      </p>
    </div>

    <div class="shipper-shipments-row-nColumn shipper-shipments-terms">
      <p>
        <%= shipment[:shipment].car_type %>
      </p>
      <p>
        <%= shipment[:pickup].weight %>KG
      </p>
      <p>
        <%= shipment[:pickup].commodity %>
      </p>
    </div>

    <div class="shipper-shipments-row-nColumn shipper-shipments-rate">
      <p>
        <%= shipment[:shipment].distance %>KM
      </p>
      <p>
        <%= shipment[:shipment].offer_rate %>円
      </p>
    </div>

    <div class="shipper-shipments-row-nColumn shipper-shipments-carrier">
      <p>
        <%= shipment[:deal].carrier.email %>
      </p>
    </div>

    <div class="shipper-shipments-row-nColumn shipper-shipments-status">
      <p>
        <span style="color:blue"><%= shipment[:shipment].transit_status %></span>
      </p>
    </div>

  </div>
<% end %>
