<div class="shipper-shipments-nav-menu">
  <div>
    <%= link_to shipper_shipments_path, class: "btn btn-primary" do %>
      My Shipments
    <% end %>

    <%= link_to pre_transit_shipper_shipments_path, class: "btn btn-primary" do %>
      Pre-Transit
    <% end %>

    <%= link_to in_transit_shipper_shipments_path, class: "btn btn-primary" do %>
      In-Transit
    <% end %>

    <%= link_to post_transit_shipper_shipments_path, class: "btn btn-primary" do %>
      Post-Transit
    <% end %>
  </div>

  <div>
    <%= link_to new_shipment_path, class: "btn btn-primary" do %>
      + ADD NEW SHIPMENT
    <% end %>
  </div>
</div>
