<div class="dashboardBody">
  <div class="cardsWrapper">
    <% @shipments.each do |s| %>
      <div class="cardContainer">

        <%
          shipmentDeals = s[:shipment].deals
          shipment = s[:shipment]
          pickup = s[:pickup]
        %>

        <div class="cardCarrierInfo">
          <% if shipmentDeals.present? %>
            <% weekday_index = shipmentDeals.first.created_at.wday %>
            <p><span>依頼日：</span><%= shipmentDeals.first.created_at.strftime("%Y年%m月%d日") %>(<%= @weekday[weekday_index] %>)</p>
          <% end %>
          <p><span>荷物：</span><%= pickup.category %></p>
            <!-- ACTIVATE THIS AFTER MULTIPLE PICKUPS ARE POSSIBLE -->
            <%#= pickup.each do | pickup | %>
              <!-- <p><%#= pickup.category %></p> -->
            <%# end %>
          <p><span>予定期間：</span><%= shipment.duration_start.strftime("%Y年%m月") %>〜<%= shipment.duration_end.strftime("%Y年%m月") %></p>
        </div>

        <ul class="cardListContainer">
        <% if s[:carriers].present? %>
          <% s[:carriers].each do |carrier| %>
            <li class="cardListItem mailNew"><a href="#"><%= carrier.company_name %></a></li>
          <% end %>
        <% end %>
        </ul>

        <div class="cardLinkContainer">
          <% if shipmentDeals.blank? %>
            <%= link_to edit_shipment_path(shipment), class: "cardLink" do %>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <% end %>
            <%= link_to shipment_path(shipment), method: :delete, data: { confirm: "こちらの案件を削除してよろしいのですか？" }, class: "cardLink" do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          <% end %>
            <%= link_to shipper_shipment_path(shipment), class: "cardLink" do %>
              <i class="fa fa-truck" aria-hidden="true"></i>
            <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>