<div class="container">
  <h2>(<%= @shipments.count %>) In-Transit</h2>

  <% if @shipments.present? %>
    <div>
      <%= link_to shipper_shipments_path, class: "btn btn-primary" do %>
        My Shipments
      <% end %>

      <%= link_to pre_transit_shipper_shipments_path, class: "btn btn-primary" do %>
        Pre-Transit
      <% end %>

      <%= link_to in_transit_shipper_shipments_path, class: "btn btn-primary" do %>
        In-Transit
      <% end %>

      <%= link_to post_transit_shipper_shipments_path, class: "btn btn-primary" do %>
        Post-Transit
      <% end %>
    </div>

    <% @shipments.each do |shipment| %>
      <div>
        <div>
          <%= link_to "Details", shipper_shipment_path(shipment) %>
        </div>
        <div>
          Ship-ID:<%= shipment.id %> <%= shipment.distance %>km <%= shipment.rate %>円 <%= shipment.car_type %> <%= shipment.shipper.email %> |
        </div>

        <% shipment.locations.order(created_at: :asc).each do |location| %>
          <% if location.is_for == 'pickup' %>
            <div>
              P-ID:<%= location.id %> <%= location.facility.name %> <%= location.commodity %> <%= location.weight %>kg (<%= location.is_for %>)
            </div>
          <% end %>
        <% end %>

        <% shipment.locations.order(created_at: :asc).each do |location| %>
          <% if location.is_for == 'delivery' %>
            <div>
              D-ID:<%= location.id %> <%= location.facility.name %> (<%= location.is_for %>)
            </div>
          <% end %>
        <% end %>

        <div>
          <% shipment.deals.each do |deal| %>
            <p><%= deal.created_at.getlocal.strftime("%Y/%m/%e - %H:%M%p") %> <%= deal.carrier.email %> <span style="color:blue"><%= deal.deal_status %></span></p>
          <% end %>
        </div>

        <div>
          Transit Status: <span style="color:blue"><%= shipment.transit_status %></span>
        </div>

        <br>
      </div>
    <% end %>
  <% else %>
    <div>
      <p>You have no shipments yet.</p>
      <p>Add a new shipment to find carrier!</p>
      <%= link_to new_shipment_path, class: "btn btn-primary" do %>
       <i class="fa fa-table"></i> + ADD NEW SHIPMENT
      <% end %>
    </div>
  <% end %>

</div>
