<div class="container">
  <h2>(<%= @shipments.count %>) My Shipments</h2>

  <% if @shipments.present? %>
    <div>
      <%= link_to shipper_shipments_path, class: "btn btn-primary" do %>
        My Shipments
      <% end %>

      <%= link_to pre_transit_shipper_shipments_path, class: "btn btn-primary" do %>
        Pre-Transit
      <% end %>

      <%= link_to in_transit_shipper_shipments_path, class: "btn btn-primary" do %>
        In-Transit
      <% end %>

      <%= link_to post_transit_shipper_shipments_path, class: "btn btn-primary" do %>
        Post-Transit
      <% end %>
    </div>

    <div>
      <br>
      <%= link_to new_shipment_path, class: "btn btn-primary" do %>
       <i class="fa fa-table"></i> + ADD NEW SHIPMENT
      <% end %>
    </div>

    <% @shipments.each do |shipment| %>
      <div>
        <div>
          <%= link_to "Details", shipper_shipment_path(shipment[:shipment]) %>
          <%#= link_to "Edit", edit_shipment_path(shipment[:shipment]) %>
          <%#= link_to "Delete", shipment_path(shipment[:shipment]),
            method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
        <div>
          Ship-ID:<%= shipment[:shipment].id %> <%= shipment[:shipment].distance %>km <%= shipment[:shipment].rate %>円 <%= shipment[:shipment].car_type %> <%= shipment[:shipment].shipper.email %> |
        </div>

        <div>
          P-ID:<%= shipment[:pickup][:location].id %> <%= shipment[:pickup][:location].facility.name %> <%= shipment[:pickup][:location].commodity %> <%= shipment[:pickup][:location].weight %>kg (<%= shipment[:pickup][:location].is_for %>)
        </div>

        <div>
          D-ID:<%= shipment[:delivery][:location].id %> <%= shipment[:delivery][:location].facility.name %> (<%= shipment[:delivery][:location].is_for %>)
        </div>

        <div>
          <% shipment[:shipment].deals.each do |deal| %>
            <p><%= deal.created_at.getlocal.strftime("%Y/%m/%e - %H:%M%p") %> <%= deal.carrier.email %> <span style="color:blue"><%= deal.deal_status %></span></p>
          <% end %>
        </div>

        <div>
          Transit Status: <span style="color:blue"><%= shipment[:shipment].transit_status %></span>
        </div>

        <br>
      </div>
    <% end %>
  <% else %>
    <div>
      <p>You have no shipments yet.</p>
      <p>Add a new shipment to find carrier!</p>
      <%= link_to new_shipment_path, class: "btn btn-primary" do %>
       <i class="fa fa-table"></i> + ADD NEW SHIPMENT
      <% end %>
    </div>
  <% end %>

</div>
