<div class="wrapper-shipper-shipments">
  <div class="container">
    <%= link_to "(Shipper)Change your password", edit_shipper_registration_path %>
    <h2>(<%= @shipments.count %>) My Shipments</h2>
    <div class="shipper-shipments-nav-menu">
      <div>
        <%= link_to shipper_shipments_path, class: "btn btn-primary" do %>
          My Shipments
        <% end %>

        <%= link_to pre_transit_shipper_shipments_path, class: "btn btn-primary" do %>
          Pre-Transit
        <% end %>

        <%= link_to in_transit_shipper_shipments_path, class: "btn btn-primary" do %>
          In-Transit
        <% end %>

        <%= link_to post_transit_shipper_shipments_path, class: "btn btn-primary" do %>
          Post-Transit
        <% end %>
      </div>

      <div>
        <%= link_to new_shipment_path, class: "btn btn-primary" do %>
          + ADD NEW SHIPMENT
        <% end %>
      </div>
    </div>

    <% if @shipments.present? %>
      <div class="shipper-shipments-row">
        <div class="shipper-shipments-row-nColumn column-header shipper-shipments-id">
          <p>
            Ship-ID
          </p>
        </div>
        <div class="shipper-shipments-row-nColumn column-header shipper-shipments-pickup">
          <p>
            発地
          </p>
        </div>
        <div class="shipper-shipments-row-nColumn column-header shipper-shipments-delivery">
          <p>
            着地
          </p>
        </div>
        <div class="shipper-shipments-row-nColumn column-header shipper-shipments-terms">
          <p>
            Terms
          </p>
        </div>
        <div class="shipper-shipments-row-nColumn column-header shipper-shipments-rate">
          <p>
            Rate
          </p>
        </div>
        <div class="shipper-shipments-row-nColumn column-header shipper-shipments-carrier">
          <p>
            運送会社
          </p>
        </div>
        <div class="shipper-shipments-row-nColumn column-header shipper-shipments-status">
          <p>
            Status
          </p>
        </div>
      </div>

      <% @shipments.each do |shipment| %>
        <div class="shipper-shipments-row">
          <div class="shipper-shipments-row-nColumn shipper-shipments-id">
            <p>
              <%= shipment[:shipment].id %>
            </p>
            <p>
              <%= link_to "Details", shipper_shipment_path(shipment[:shipment]) %>
            </p>
            <p>
              <span style="color:blue"><%= shipment[:deal][:status] %></span>
            </p>
          </div>

          <div class="shipper-shipments-row-nColumn shipper-shipments-pickup">
            <p>
              P-ID:<%= shipment[:pickup].id %> <%= shipment[:pickup].company_name %>
            </p>
            <p>
              <%= shipment[:pickup].prefecture %><%= shipment[:pickup].address %>
            </p>
          </div>

          <div class="shipper-shipments-row-nColumn shipper-shipments-delivery">
            <p>
              D-ID:<%= shipment[:delivery].id %> <%= shipment[:delivery].company_name %>
            </p>
            <p>
              <%= shipment[:delivery].prefecture %><%= shipment[:delivery].address %>
            </p>
          </div>

          <div class="shipper-shipments-row-nColumn shipper-shipments-terms">
            <p>
              <%= shipment[:shipment].car_type %>
            </p>
            <p>
              <%= shipment[:pickup].weight %>KG
            </p>
            <p>
              <%= shipment[:pickup].commodity %>
            </p>
          </div>

          <div class="shipper-shipments-row-nColumn shipper-shipments-rate">
            <p>
              <%= shipment[:shipment].distance %>KM
            </p>
            <p>
              <%= shipment[:shipment].offer_rate %>円
            </p>
          </div>

          <div class="shipper-shipments-row-nColumn shipper-shipments-carrier">
            <% if shipment[:deal][:carrier].present? %>
              <p>
                <%= shipment[:deal][:carrier].email %>
              </p>
            <% end %>
          </div>

          <div class="shipper-shipments-row-nColumn shipper-shipments-status">
            <p>
              <span style="color:blue"><%= shipment[:shipment].transit_status %></span>
            </p>
          </div>

        </div>
      <% end %>
    <% else %>
      <div>
        <p>You have no shipments yet.</p>
        <p>Add a new shipment to find carrier!</p>
        <%= link_to new_shipment_path, class: "btn btn-primary" do %>
         <i class="fa fa-table"></i> + ADD NEW SHIPMENT
        <% end %>
      </div>
    <% end %>
  </div>
</div>

