      <p><%= shipment[:delivery].company_name %></p>
      <p><%= shipment[:delivery].id %></p>
      <p><%= shipment[:delivery].post_code %></p>
      <p><%= shipment[:delivery].prefecture %></p>
      <p><%= shipment[:delivery].street %></p>
      <p><%= shipment[:delivery].time %></p>
      <p><%= shipment[:delivery].ward %></p>

      <p><%= shipment[:pickup].additional_info %></p>
      <p><%= shipment[:pickup].company_name %></p>
      <p><%= shipment[:pickup].end_date %></p>
      <p><%= shipment[:pickup].id %></p>
      <p><%= shipment[:pickup].post_code %></p>
      <p><%= shipment[:pickup].prefecture %></p>
      <p><%= shipment[:pickup].quantity %></p>
      <p><%= shipment[:pickup].size_depth %></p>
      <p><%= shipment[:pickup].size_height %></p>
      <p><%= shipment[:pickup].size_width %></p>
      <p><%= shipment[:pickup].start_date %></p>
      <p><%= shipment[:pickup].street %></p>
      <p><%= shipment[:pickup].temperature %></p>
      <p><%= shipment[:pickup].time %></p>
      <p><%= shipment[:pickup].ward %></p>
      <p><%= shipment[:pickup].weight %></p>

      <p><%= shipment[:shipment].car_type %></p>
      <p><%= shipment[:shipment].created_at %></p>
      <p><%= shipment[:shipment].distance %></p>
      <p><%= shipment[:shipment].duration_end %></p>
      <p><%= shipment[:shipment].duration_start %></p>
      <p><%= shipment[:shipment].frequency %></p>
      <p><%= shipment[:shipment].id %></p>
      <p><%= shipment[:shipment].offer_rate %></p>
      <p><%= shipment[:shipment].offer_rate %></p>

      <p><%= carrier.id %></p>
      <p><%= carrier.email %></p>
      <p><%= carrier.post_code %></p>
      <p><%= carrier.prefecture %></p>
      <p><%= carrier.name_kanji %></p>
      <p><%= carrier.name_furigana %></p>
      <p><%= carrier.phone %></p>
      <p><%= carrier.ward %></p>
      <p><%= carrier.street %></p>
      <p><%= carrier.favorite_products %></p>