<div class="container">
  <h2>(<%= @shipments.count %>) Post-Transit</h2>
  <div>
    <%= link_to shipper_shipments_path, class: "btn btn-primary" do %>
      My Shipments
    <% end %>

    <%= link_to pre_transit_shipper_shipments_path, class: "btn btn-primary" do %>
      Pre-Transit
    <% end %>

    <%= link_to in_transit_shipper_shipments_path, class: "btn btn-primary" do %>
      In-Transit
    <% end %>

    <%= link_to post_transit_shipper_shipments_path, class: "btn btn-primary" do %>
      Post-Transit
    <% end %>
  </div>

  <% if @shipments.present? %>
    <% @shipments.each do |shipment| %>
      <div>
        <div>
          <%= link_to "詳細", shipper_shipment_path(shipment) %>
        </div>
        <div>
          Ship-ID:<%= shipment.id %> <%= shipment.distance %>km <%= shipment.offer_rate %>円 <%= shipment.car_type %> <%= shipment.shipper.email %> |
        </div>

        <% shipment.pickups.order(created_at: :asc).each do |pickup| %>
          <div>
            P-ID:<%= pickup.id %> <%= pickup.company_name %> <%= pickup.prefecture %> <%= pickup.address %> <%= pickup.commodity %> <%= pickup.weight %>KG
          </div>
        <% end %>

        <% shipment.deliveries.order(created_at: :asc).each do |delivery| %>
          <div>
            D-ID:<%= delivery.id %> <%= delivery.company_name %> <%= delivery.prefecture %> <%= delivery.address %>
          </div>
        <% end %>

        <% shipment.deals.each do |deal| %>
          <div>
            <%= deal.created_at.getlocal.strftime("%Y/%m/%e - %H:%M%p") %> <%= deal.carrier.email %> <span style="color:blue"><%= deal.deal_status %></span>
          </div>
        <% end %>

        <div>
          Transit Status: <span style="color:blue"><%= shipment.transit_status %></span>
        </div>

        <br>
      </div>
    <% end %>
  <% else %>
    <div>
      <p>You have no shipments post-transit yet.</p>
    </div>
  <% end %>

</div>
