<div class="container">
  <h1>My Shipments Show Page</h1>
  <div>
    <div>
      <%= link_to "Back", :back, class: "btn btn-primary" %>
      <%# if @shipment.available == true %>
        <%= link_to "Edit", edit_shipment_path(@shipment), class: "btn btn-primary" %>
        <%= link_to "Delete", shipment_path(@shipment),
        method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
      <%# end %>
    </div>
    <div>
      Ship-ID:<%= @shipment.id %> <%= @shipment.distance %>km <%= @shipment.offer_rate %>yen <%= @shipment.car_type %> <%= @shipment.shipper.email %> |
    </div>

    <% @locations.each do |location| %>
      <% if location.is_for == 'pickup' %>
        <div>
          P-ID:<%= location.id %> <%= location.facility.name %> <%= location.facility.prefecture %> <%= location.facility.address %> <%= location.commodity %> <%= location.weight %>kg (<%= location.is_for %>)
        </div>
      <% end %>
    <% end %>

    <% @locations.each do |location| %>
      <% if location.is_for == 'delivery' %>
        <div>
          D-ID:<%= location.id %> <%= location.facility.name %> <%= location.facility.prefecture %> <%= location.facility.address %> (<%= location.is_for %>)
        </div>
      <% end %>
    <% end %>

    <div>
      <% @shipment.deals.each do |deal| %>
        <div>
          <%= deal.created_at.getlocal.strftime("%Y/%m/%e - %H:%M%p") %> <%= deal.carrier.email %> <span style="color:blue"><%= deal.deal_status %></span>
        </div>
        <% if @shipment.available == true %>
          <div>
            <%= simple_form_for @shipment, url: shipper_shipment_path do |f| %>
              <%= f.hidden_field :carrier_id, value: deal.carrier_id %>
              <%= f.button :submit, 'ACCEPT', class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
