<section id="shipperCarrierMatches" class="container-fluid shipper flexTop">

  <div class="progressBarContainer">
    <div class="progressBarStep">
      <% if @shipment.available == true %>
        <p><%= link_to "運送案件を作成", edit_shipment_path(@shipment) %></p>
      <% end %>
    </div>
    <div class="progressBarStep active">
      <p>運送会社を選択</p>
    </div>
    <div class="progressBarStep">
      <p>内容を確認</p>
    </div>
    <div class="progressBarStep">
      <p>完了</p>
    </div>
  </div>

  <div class="dashboardHeader">
    <div>
      <h2>運送会社を選択</h2>
      <p>マッチする運送会社が<%= @carriers_two_conditions.count %>社見つかりました！</p>
    </div>
    <%= simple_form_for :carriers, method: :get, url: quotes_req_shipper_shipment_path, html: {id:'shipper_quotation_form', class:'col-xs-3'} do |f| %>
      <%= f.hidden_field :ids, value: '' %>
      <%= f.button :submit, '依頼内容を確認する', id:'btn__submit__ids', class:'btn btn-primary btn__null btn__sub-color btn__size--sm col-xs-12' %>
    <% end %>
  </div>

  <div class="dashboardBody">
    <div class="cardsContainer">
      <% @carriers_two_conditions.each do |carrier| %>
        <%= render 'carrierCard', carrier: carrier %>
      <% end %>
    </div>
  </div>

</section>



<!-- Add class to selected cards and send value to form -->
<%= render partial: 'matchedCarriers_selectable', formats: :js %>