<div id="navigation__bar">
  <%= link_to "TransRoad", root_path, class: "navbar-brand brand--wordmark"%>

  <!-- START / DESKTOP -->
  <div id="desktop--dropdown" class="hidden-xs hidden-sm navbar--right">
    <% if user_signed_in? %>
      <!-- START / DESKTOP / LOGGED IN -->
      <ul>
        <% if current_shipper.present? %> <!-- IS SIGNED IN && IS SHIPPER -->
        <% else %> <!-- IS SIGNED IN && IS CARRIER -->
        <% end %>
        <div class="dropdown">
          <i class="fa fa-user-circle avatar dropdown-toggle" data-toggle="dropdown"></i>
          <ul id="avatar__navbar" class="dropdown-menu dropdown-menu-right">
            <li>
              <% if current_shipper.present? %> <!-- IS SIGNED IN && IS SHIPPER -->
                <%= link_to t(".company_profile", default: "会社情報"), edit_shipper_registration_path %>
              <% else %> <!-- IS SIGNED IN && IS CARRIER -->
                <%= link_to t(".company_profile", default: "会社情報"), edit_carrier_registration_path %>
              <% end %>
            </li>
            <li>
              <% if current_shipper.present? %>  <!-- IS SIGNED IN && IS SHIPPER -->
                <%= link_to t(".sign_out", default: "ログアウト"), destroy_shipper_session_path, method: :delete %>
              <% else %>  <!-- IS SIGNED IN && IS CARRIER -->
                <%= link_to t(".sign_out", default: "ログアウト"), destroy_carrier_session_path, method: :delete %>
              <% end %>
            </li>
          </ul>
        </div>
      </ul>
      <!-- END / DESKTOP / LOGGED IN -->
    <% else %>
      <!-- START / DESKTOP / LOGGED OUT -->
      <ul>
        <li>
          <%= link_to t(".carrier", default: "ログイン"), new_carrier_session_path %>
        </li>
        <li>
          <%= link_to t(".carrier", default: "新規登録"), new_carrier_registration_path %>
        </li>
      </ul>
      <!-- END / DESKTOP / LOGGED OUT -->
    <% end %>
  </div>
  <!-- END / DESKTOP -->

  <!-- START / MOBILE -->
  <div id="mobile--dropdown" class="navbar--item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right dropdown--menu">
        <!-- START / MOBILE / LOGGED IN -->
        <% if user_signed_in? %>
          <% if current_shipper.present? %>
            <li> <!-- IS SIGNED IN && IS SHIPPER -->
              <%= link_to destroy_shipper_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>
                <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          <% else %>
            <li> <!-- IS SIGNED IN && IS CARRIER -->
              <%= link_to t(".sign_out", default: "ログアウトする"), destroy_carrier_session_path, method: :delete %>
            </li>
          <% end %>
        <!-- END / MOBILE / LOGGED IN -->
        <% else %>
        <!-- START / MOBILE / LOGGED OUT -->
          <li>
            <%= link_to "ログイン", new_carrier_session_path %>
          </li>
          <li>
            <%= link_to "新規登録", new_carrier_registration_path %>
          </li>
        <!-- END / MOBILE / LOGGED OUT -->
        <% end %>
      </ul>
    </div>
  </div>
  <!-- END / MOBILE -->

</div>