<div class="container">
  <h1>facilities</h1>

  <% if @facilities.present? %>
    <div>
      <%= link_to new_facility_path, class: "btn btn-primary" do %>
        + ADD NEW FACILITY
      <% end %>
    </div>
    <% @facilities.each do |facility| %>
      <div>
        <p>
          <%= link_to "Edit", edit_facility_path(facility) %>
          <% if facility.locations.blank? %>
            <%= link_to "Delete", facility_path(facility),
              method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
          ID:<%= facility.id %> <%= facility.name %> <%= facility.prefecture %> <%= facility.address %> <%= facility.shipper.email %>
        </p>
      </div>
    <% end %>
  <% else %>
    <div>
      <p>You have no listings yet.</p>
      <p>Add new listing to create shipment!</p>
      <%= link_to new_facility_path, class: "btn btn-primary" do %>
         + ADD NEW FACILITY
      <% end %>
    </div>
  <% end %>
</div>
