<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h1>new facility</h1>
      <%= simple_form_for @facility do |f| %>
        <%= f.error_notification %>

        <%= f.input :name %>
        <%= f.input :prefecture, collection: ["Tokyo", "Osaka", "Kanagawa"], prompt: "Choose a Prefecture" %>
        <%= f.input :address, collection: ["meguro", "shinagawa", "ota"], prompt: "Choose an address" %>

        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
