<div class="inputContainer">
  <h3>連絡先 ＆ ログイン情報</h3>
  <div class="inputGroup row">
    <%= f.input :name_kanji,
      label: "お名前",
      wrapper_html: {class: "col-xs-6"},
      required: true,
      input_html: {autocomplete: "name"}
      %>
    <%= f.input :name_furigana,
      label: "お名前（フリガナ）",
      wrapper_html: {class: "col-xs-6"},
      required: true,
      input_html: {autocomplete: "none"}
      %>
  </div>
  <%= f.input :phone,
    label: "電話番号",
    required: true,
    input_html: {autocomplete: "tel"}
    %>
  <%= f.input :email,
    label: "メールアドレス（ログインするときはこちらを使用します）",
    required: true,
    error: "メールアドレスを入力してください",
    input_html: {autocomplete: "email"}
    %>
  <%= f.input :password,
    label: "パスワード（英数字で#{@minimum_password_length}文字以上のパスワードを入力してください）",
    input_html: {autocomplete: "new-password"},
    required: true,
    error: "パスワードを入力してください"
    %>
  <%= f.input :password_confirmation,
    label: "パスワードの確認",
    input_html: {autocomplete: "new-password"},
    required: true
    %>
</div>
