<div class="nested-fields fields-row">
  <div class="multiInputContainer">

    <%= f.input :load_capacity,
      label: "積載量（トン）",
      input_html: { placeholder:"例：0.5", value:"none", min:0.5 ,step:0.5, autocomplete:"none" },
      wrapper_html: { class:"col-fifth-vehic" } %>

    <%= f.input :vehicle_type,
      label: "形状",
      collection: Vehicle::TYPES,
      selected: Vehicle::TYPES[0],
      wrapper_html: { class:"col-fifth-vehic" } %>

    <%= f.input :type_specifications,
      label: "仕様",
      collection: Vehicle::SPECIFICATIONS,
      selected: Vehicle::TYPES[0],
      wrapper_html: { class:"col-fifth-vehic" } %>

    <%= f.input :feature,
      label: "機能",
      collection: Vehicle::FEATURES,
      selected: Vehicle::TYPES[0],
      wrapper_html: { class:"col-fifth-vehic" } %>

    <%= f.input :quantity,
      label: "車両数",
      input_html: { min:1, value:1 },
      wrapper_html: { class:"col-fifth-vehic" } %>

    <%= link_to_remove_association(f) do %>
      <i class="fas fa-times-circle btnRemoveNestForm" onclick="onRemove()"></i>
    <% end %>

  </div>
</div>
