<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :company_name, required: true, autofocus: true %>
    <%= f.input :post_code, required: true %>
    <%= f.input :prefecture, required: true %>
    <%= f.input :ward, required: true %>
    <%= f.input :street, required: true %>
    <%= f.input :name_kanji, required: true %>
    <%= f.input :name_furigana, required: true %>
    <%= f.input :phone, required: true %>

    <%= f.input :email, required: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <p>変更後の暗証番号</p>
    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <p>変更後の暗証番号（再確認）</p>
    <%= f.input :password_confirmation, required: false %>

    <p>今の暗証番号</p>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "My Shipment", carrier_shipments_path %>
