<section id="carrier__edit" class="container-fluid carrier slimMedium">
  <h2>運送アカウント情報</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= render "inputCompany.html.erb", f: f %>
      <%= render "inputAreaAndVehicles.html.erb", f: f %>
      <%= render "editContact.html.erb", f: f %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>メールアドレスの確認中です、認証メールを送信したのでご確認ください。<%= resource.unconfirmed_email %></p>
      <% end %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "更新", class:"btnNull btnWidth100" %>
    </div>
  <% end %>
  <%= link_to "アカウントを解約する", registration_path(resource_name), data: { confirm: "アカウントを解約されますか？" }, method: :delete, class:"" %>
</section>



<script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
<!-- JS for automated address input upon postal code input -->
<%= javascript_include_tag('jquery.jpostal') %>
<%= javascript_include_tag('jpostal.carrierActivator') %>
<!-- JS for making <select> with <optgroup> into a dropdown with grouped checkboxes -->
<%= javascript_include_tag('multiple-select') %>
<%#= javascript_include_tag('multiple-selectActivator') %> <!-- conflicts with asset.rb?-->
<!-- JS to ensure no more than 3 products can be checked -->
<%= javascript_include_tag('carrier_favorite_products') %>