<div id="landingDescriptionOne" class="fullscreen">
  <div>
    <h1>荷物に合った<br class="hidden-sm hidden-md hidden-lg">マッチングを<br class="hidden-sm hidden-md hidden-lg">お届けします</h1>
  </div>
  <div class="description__image-box">
    <%= inline_svg "01_carrier.svg", class: "carrier_01" %>
    <%= inline_svg "01_shipper.svg", class: "shipper_01" %>
    <%= inline_svg "02_carrier.svg", class: "carrier_02" %>
    <%= inline_svg "02_shipper.svg", class: "shipper_02" %>
    <%= inline_svg "03_carrier.svg", class: "carrier_03" %>
    <%= inline_svg "03_shipper.svg", class: "shipper_03" %>
    <%= inline_svg "04_carrier.svg", class: "carrier_04" %>
    <%= inline_svg "04_shipper.svg", class: "shipper_04" %>
    <%= inline_svg "05_carrier.svg", class: "carrier_05" %>
    <%= inline_svg "05_shipper.svg", class: "shipper_05" %>
    <%= inline_svg "06_carrier.svg", class: "carrier_06" %>
    <%= inline_svg "06_shipper.svg", class: "shipper_06" %>
    <%= inline_svg "07_carrier.svg", class: "carrier_07" %>
    <%= inline_svg "07_shipper.svg", class: "shipper_07" %>
    <%= inline_svg "08_carrier.svg", class: "carrier_08" %>
    <%= inline_svg "08_shipper.svg", class: "shipper_08" %>
    <%= inline_svg "09_carrier.svg", class: "carrier_09" %>
    <%= inline_svg "09_shipper.svg", class: "shipper_09" %>
    <%= inline_svg "10_carrier.svg", class: "carrier_10" %>
    <%= inline_svg "10_shipper.svg", class: "shipper_10" %>
  </div>
  <!-- <div class="landingBtnCase">
    <a class="btn btnNull btnTriangle" href="#landing--carrier" role="button" data-animateScroll="true">荷物を<br class="hidden-sm hidden-md hidden-lg">運びたい</a>
    <a class="btn btnNull btnTriangle" href="#landing--shipper" role="button" data-animateScroll="true">荷物を<br class="hidden-sm hidden-md hidden-lg">送りたい</a>
  </div> -->
</div>