<section id="landingQueryForm" class="container-fluid user slimSmall">
  <%= simple_form_for :query, method: :get,url: results_carrier_shipments_path, html: {'data-name': 'landingPageForm'} do |f| %>
    <%= f.error_notification %>

    <div class="landingQueryInputs">
      <%= render "landingQueryInputShipment", f: f %>

      <div class="landingQueryInput">
        <%= inline_svg "icon_pickup.svg" %>
        <p>&#10103; 集荷先</p>
        <%= f.input :pickup_post_code,
          label: false,
          input_html: { autocomplete:"none", placeholder:"郵便番号" },
          required: true %>
        <p class="midText">または</p>
        <%= f.input :pickup_prefecture,
          label: false,
          input_html: { autocomplete:"none", placeholder:"都道府県" },
          required: true %>
        <%= f.input :pickup_ward,
          label: false,
          input_html: { autocomplete:"none", placeholder:"市区町村" },
          required: true %>
      </div>

      <div class="landingQueryInput">
        <%= inline_svg "icon_delivery.svg" %>
        <p>&#10104; 配送先</p>
        <%= f.input :delivery_post_code,
          label: false,
          input_html: { autocomplete:"none", placeholder:"郵便番号" },
          required: true %>
        <p class="midText">または</p>
        <%= f.input :delivery_prefecture,
          label: false,
          input_html: { autocomplete:"none", placeholder:"都道府県"  },
          required: true %>
        <%= f.input :delivery_ward,
          label: false,
          input_html: { autocomplete:"none", placeholder:"市区町村"  },
          required: true %>
      </div>
    </div>

    <%= f.button :submit,
      "マッチする運送業者を見つける",
      class:"btnNull btnSubColor btnLarge btnRounded" %>

  <% end %>
</section>
<%= render partial: 'landingPseudoSelect', formats: :js %>