<div id="home">
  <div id="landing--initial" class="fullscreen ignore__navbar">
    <%= render "landingNavBar.html.erb" %>
    <%= render "landingView.html.erb" %>
  </div>
  <%= render "landingDescription.html.erb" %>
  <%= render "landingCarrier.html.erb" %>
  <%= render "landingShipper.html.erb" %>
</div>