<div id="deals__table" class="row row--block">

  <div class="deals--row">
    <div class="deals--header"></div>
    <div class="deals--header"><p>運送予定期間</p></div>
    <div class="deals--header"><p>運送頻度</p></div>
    <div class="deals--header"><p>荷物の種類</p></div>
    <div class="deals--header"><p>集荷先</p></div>
    <div class="deals--header"><p>配送先</p></div>
    <div class="deals--header"><p>往復距離&ensp;<i class="fa fa-question-circle" aria-hidden="true"></i></p></div>
  </div>

  <% @deals.each do |deal| %>

    <div class="deals--row" data-toggle="modal" data-target='#modalDeal<%= deal[:deal].id %>'>
      <div class="deals--cell new">
        <p>新規</p>
      </div>
      <div class="deals--cell">
        <p><%= deal[:deal].shipment.duration_start.strftime("%Y年%m月%d日") %>〜<%= deal[:deal].shipment.duration_end.strftime("%Y年%m月%d日") %></p>
      </div>
      <div class="deals--cell">
        <p><%= deal[:deal].shipment.frequency %></p>
      </div>
      <div class="deals--cell">
        <p><%= deal[:pickup].category %></p>
      </div>
      <div class="deals--cell">
        <p><%= deal[:pickup].prefecture %>&emsp;<%= deal[:pickup].ward %></p>
        <p><%= deal[:pickup].time %></p>
      </div>
      <div class="deals--cell">
        <p><%= deal[:delivery].prefecture %>&emsp;<%= deal[:delivery].ward %></p>
        <p><%= deal[:delivery].time %></p>
      </div>
      <div class="deals--cell">
        <p class="hidden"><%= deal[:deal].shipment.distance %></p>
        <p>約250km</p>
      </div>
    </div>

    <div id='modalDeal<%= deal[:deal].id %>' class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="sidebar">
            <div class="modal--summary">
              <h4>運送案件概要</h4>
              <p><span class="bold">予定期間：</span><%= deal[:deal].shipment.duration_start.strftime("%Y年%m月%d日") %>〜<br>&emsp;&emsp;&emsp;&emsp;&emsp;<%= deal[:deal].shipment.duration_end.strftime("%Y年%m月%d日") %></p>
              <p><span class="bold">運送頻度：</span><%= deal[:deal].shipment.frequency %></p>
              <p><span class="bold">荷物：</span><%= deal[:pickup].category %></p>
              <!-- ACTIVATE THIS AFTER MULTIPLE PICKUPS ARE POSSIBLE -->
              <%#= deal[:pickup].each do | pickup | %>
                <!-- <p><%#= pickup.category %></p> -->
              <%# end %>
              <p><span class="bold">依頼主：</span><%= deal[:deal].shipment.shipper.name_kanji %></p>
              <p><span class="bold">集荷先：</span><%= deal[:pickup].prefecture %>&emsp;<%= deal[:pickup].ward %></p>
              <p><span class="bold">配達先：</span><%= deal[:delivery].prefecture %>&emsp;<%= deal[:delivery].ward %></p>
              <p><span class="bold">往復距離：</span><%= deal[:deal].shipment.distance %>215km</p>
            </div>
            <div class="modal--map"></div>
          </div>

          <div class="modal--details">
            <div class="row--block">

              <div class="modal--details--pickup">
                <h4>集荷先</h4>
                <div class="details--pickup--case">
                  <!-- ACTIVATE THIS AFTER MULTIPLE PICKUPS ARE POSSIBLE -->
                  <%#= deal[:pickup].each do | pickup | %>
                  <div class="details--pickup--card">
                    <p class="bold"><i class="fa fa-map-marker color__sub" aria-hidden="true"></i>&emsp;集荷先(1/1)</p>
                    <p><span class="bold">住所：</span><%= deal[:pickup].prefecture %>&emsp;<%= deal[:pickup].ward %><br>&emsp;&emsp;&emsp;<%= deal[:pickup].street %></p>
                    <p><span class="bold">集荷時間：</span><%= deal[:pickup].time %></p>
                    <p><span class="bold">車庫からの距離：</span>約<%= deal[:deal].shipment.distance %>215km*</p>
                    <br>
                    <p><span class="bold">荷物：</span><%= deal[:pickup].category %></p>
                    <p><span class="bold">寸法：</span>横<%= deal[:pickup].size_width %> x 奥<%= deal[:pickup].size_depth %> x 縦<%= deal[:pickup].size_height %></p>
                    <p><span class="bold">個数：</span><%= deal[:pickup].quantity %>個</p>
                    <p><span class="bold">単体重量：</span><%= deal[:pickup].weight %>kg</p>
                    <p><span class="bold">単体容積重量：</span>777kg*</p>
                    <p><span class="bold">温度管理：</span><%= deal[:pickup].temperature %></p>
                    <p><span class="bold">備考欄：</span><%= deal[:pickup].additional_info %></p>
                  </div>
                  <%# end %>
                </div>
              </div>
              <hr class="simple">
              <div class="modal--details--delivery">
                <h4><i class="fa fa-map-marker color__main" aria-hidden="true"></i>&emsp;配送先</h4>
                <div class="details--delivery--case">
                  <div>
                    <p><span class="bold">住所：</span><%= deal[:delivery].prefecture %>&emsp;<%= deal[:delivery].ward %>&emsp;<%= deal[:delivery].street %></p>
                    <p><span class="bold">配達時間：</span><%= deal[:delivery].time %></p>
                  </div>
                  <div>
                    <p><span class="bold">最終集荷地からの距離：</span>約<%= deal[:deal].shipment.distance %>35km*</p>
                    <p><span class="bold">車庫までの距離：</span>約<%= deal[:deal].shipment.distance %>85km*</p>
                  </div>
                </div>
              </div>
              <hr class="simple">
              <div class="modal--details--btnCase">
                <%#= link_to '依頼主に質問', '#', class: 'btn btn-primary btn__null btn__size--sm col-xs-3' %>
                <!-- path to new new quotation? -->
                <%= link_to '見積書を作成', '#', class: 'btn btn-primary btn__null btn__size--sm col-xs-12' %>
              </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <% end %>

</div>