<div id="deals__table" class="row row--block">

  <div class="deals--row">
    <div class="deals--header"></div>
    <div class="deals--header"><p>運送予定期間</p></div>
    <div class="deals--header"><p>運送頻度</p></div>
    <div class="deals--header"><p>荷物の種類</p></div>
    <div class="deals--header"><p>集荷先</p></div>
    <div class="deals--header"><p>配送先</p></div>
    <div class="deals--header"><p>往復距離&ensp;<i class="fa fa-question-circle" aria-hidden="true"></i></p></div>
  </div>

  <%= simple_form_for :deal, url: carrier_shipments_next_transit_path, method: :patch do |f| %>
    <% @deals.each do |deal| %>
      <div class="deals--row">

        <% if params[:action] == 'index' %>
          <div class="deals--cell new">
            <p>新規</p>
          </div>
        <% end %>

        <div class="deals--cell">
          <p><%= deal[:deal].shipment.duration_start.strftime("%Y年%m月%d日") %>〜<%= deal[:deal].shipment.duration_end.strftime("%Y年%m月%d日") %></p>
        </div>

        <div class="deals--cell">
          <p><%= deal[:deal].shipment.frequency %></p>
        </div>
        <div class="deals--cell">
          <p><%= deal[:pickup].category %></p>
        </div>

        <div class="deals--cell">
          <p><%= deal[:pickup].prefecture %>&emsp;<%= deal[:pickup].ward %></p>
          <p><%= deal[:pickup].time %></p>
        </div>

        <div class="deals--cell">
          <p><%= deal[:delivery].prefecture %>&emsp;<%= deal[:delivery].ward %></p>
          <p><%= deal[:delivery].time %></p>
        </div>

        <div class="deals--cell">
          <p class="hidden"><%= deal[:deal].shipment.distance %></p>
          <p>約250km</p>
        </div>

      </div>
    <% end %>

    <% unless params[:action] == 'post_transit_index' || params[:action] == 'index' %>
      <%= f.hidden_field :action, value: params[:action] %>
      <%= f.hidden_field :ids, value: @ids_for_params %>
      <%= f.button :submit, 'COMPLETE', class: "btn btn-primary" %>
    <% end %>

  <% end %>
</div>







<!-- BACKUP DEL LATER 888 -->
<% if false %>

<% unless params[:action] == 'post_transit_index' || params[:action] == 'index' %>
<p class="hidden"><% @ids_for_params << deal[:deal].id %><%= f.input_field deal[:deal].id, as: :boolean, checked_value: deal[:deal].id %></p>
<% end %>
<p class="hidden"><%= link_to "見積書を作成", new_quotes_path(deal[:deal]), class: "btn btn-primary" %></p>
<p class="hidden"><%= deal[:delivery].prefecture %><%= deal[:delivery].ward %></p>
<p class="hidden"><%= deal[:deal].shipment.car_type %></p>
<p class="hidden"><%= deal[:pickup].weight %>KG</p>
<p class="hidden"><%= deal[:pickup].category %></p>
<p class="hidden"><%= deal[:deal].shipment.distance %>KM</p>
<p class="hidden"><%= deal[:deal].shipment.offer_rate %>円</p>

<div class="deals--row">
  <div class="deals--row-nColumn column-header deals-id">
    <p>
      Ship-ID
    </p>
  </div>
  <div class="deals--row-nColumn column-header deals-pickup">
    <p>
      発地
    </p>
  </div>
  <div class="deals--row-nColumn column-header deals-delivery">
    <p>
      着地
    </p>
  </div>
  <div class="deals--row-nColumn column-header deals-terms">
    <p>
      Terms
    </p>
  </div>
  <div class="deals--row-nColumn column-header deals-rate">
    <p>
      Rate
    </p>
  </div>
  <div class="deals--row-nColumn column-header deals-carrier">
    <p>
      荷主
    </p>
  </div>
  <div class="deals--row-nColumn column-header deals-shipping-status">
    <p>
      Shipping-Status
    </p>
  </div>
</div>

<%= simple_form_for :deal, url: carrier_shipments_next_transit_path, method: :patch do |f| %>
  <% @deals.each do |deal| %>
    <div class="deals--row">
      <div class="deals--row-nColumn deals-id">
        <p>
          Deal-ID:<%= deal[:deal].id %>
        </p>
        <p>
          Ship-ID:<%= deal[:deal].shipment.id %>
        </p>
        <p>
          <%= link_to "見積書を作成", new_quotes_path(deal[:deal]), class: "btn btn-primary" %>
        </p>
        <% if params[:action] == 'index' %>
<!--           <p>
            <%#= deal[:deal].created_at.getlocal.strftime("%Y/%m/%e - %H:%M%p") %></p> -->
          <p>
            <span style="color:blue"><%= deal[:deal].deal_status %></span></p>
        <% end %>
        <% unless params[:action] == 'post_transit_index' || params[:action] == 'index' %>
          <p>
            <% @ids_for_params << deal[:deal].id %>
            <%= f.input_field deal[:deal].id, as: :boolean, checked_value: deal[:deal].id %></p>
        <% end %>
      </div>

      <div class="deals--row-nColumn deals-pickup">
        <p>
          P-ID:<%= deal[:pickup].id %> <%= deal[:pickup].company_name %>
        </p>
        <p>
          <%= deal[:pickup].prefecture %><%= deal[:pickup].ward %>
        </p>
      </div>

      <div class="deals--row-nColumn deals-delivery">
        <p>
          D-ID:<%= deal[:delivery].id %> <%= deal[:delivery].company_name %>
        </p>
        <p>
          <%= deal[:delivery].prefecture %><%= deal[:delivery].ward %>
        </p>
      </div>

      <div class="deals--row-nColumn deals-terms">
        <p>
          <%= deal[:deal].shipment.car_type %>
        </p>
        <p>
          <%= deal[:pickup].weight %>KG
        </p>
        <p>
          <%= deal[:pickup].category %>
        </p>
      </div>

      <div class="deals--row-nColumn deals-rate">
        <p>
          <%= deal[:deal].shipment.distance %>KM
        </p>
        <p>
          <%= deal[:deal].shipment.offer_rate %>円
        </p>
      </div>

      <div class="deals--row-nColumn deals-carrier">
        <p>
          <%= deal[:deal].shipment.shipper.email %>
        </p>
      </div>
      <div class="deals--row-nColumn deals-shipping-status">
        <p>
          <span style="color:blue"><%= deal[:deal].shipment.transit_status %></span>
        </p>
      </div>
    </div>
  <% end %>
  <% unless params[:action] == 'post_transit_index' || params[:action] == 'index' %>
    <%= f.hidden_field :action, value: params[:action] %>
    <%= f.hidden_field :ids, value: @ids_for_params %>
    <%= f.button :submit, 'COMPLETE', class: "btn btn-primary" %>
  <% end %>
<% end %>

<% end %>