<div class="deals-nav-menu">
  <div>
    <%= link_to carrier_shipments_path, class: "btn btn-primary" do %>
      My Shipments
    <% end %>

    <%= link_to carrier_shipments_pre_transit_path, class: "btn btn-primary" do %>
      Pre-Transit
    <% end %>

    <%= link_to carrier_shipments_in_transit_path, class: "btn btn-primary" do %>
      In-Transit
    <% end %>

    <%= link_to carrier_shipments_post_transit_path, class: "btn btn-primary" do %>
      Post-Transit
    <% end %>
  </div>

  <div>
    <%= link_to shipments_path, class: "btn btn-primary" do %>
        Find New Shipments
    <% end %>
  </div>
</div>
