<div class="quoteFormRight">
  <%= simple_form_for @deal, html: {class: ''}, method: :post, url: confirm_quote_path do |f| %>

    <div class="quoteSectionContainer debug">
      <h3>運賃＆附帯業務料金</h3>
        <%= f.error_notification %>
        <!--
          CONTINUE HERE AFTER GETTING RID OF ROW--BLOCK
          Stopped at adjusting the category.
          Line them up with the input.
        -->
        <div class="quoteCategoryContainer">
          <p>項目</p>
          <p>内訳</p>
          <p>金額</p>
        </div>
        <div id="deal__items__container">
          <%= f.simple_fields_for :items do |i| %>
            <%= render 'item_fields', f: i %>
          <% end %>
        </div>
        <%= link_to_add_association '項目を追加する', f, :items, class: 'btn btn-primary', data: { association_insertion_node: '#deal__items__container', association_insertion_method: :append } %>
    </div>

    <div class="UNSOUVEHICLE hidden">
      <h3>運送に使用する車両</h3>
        <div class="">
          <p>大きさ</p>
          <p>形状</p>
          <p>台数</p>
        </div>
        <div id="deal__delivery_vehicles__container">
          <%= f.simple_fields_for :delivery_vehicles do |d| %>
            <%= render 'delivery_vehicle_fields', f: d %>
          <% end %>
        </div>
        <%= link_to_add_association '車両を追加する', f, :delivery_vehicles, class: 'btn btn-primary', data: { association_insertion_node: '#deal__delivery_vehicles__container', association_insertion_method: :append } %>
      <%#= f.input :delivery_vehicles, as: :fake_select, input_html: { class: '' } %>

      <% if false %>
        <%= f.simple_fields_for :vehicles do |v| %>
          <%= render 'vehicle_fields', f: v %>
        <% end %>
      <% end %>
    </div>

    <div class="GOUKEIKINGAKU hidden">
      <%= f.input :total_price, label: "合計金額", required: true %>
      <div class="form-actions">
        <%= f.button :submit, "見積り内容を確認する" %>
      </div>
    </div>

  <% end %>
</div>
