<div class="container">
  <h2>(<%= @deals.count %>) My Shipments(deals)</h2>
  <div>
    <%= link_to carrier_shipments_path, class: "btn btn-primary" do %>
      My Shipments
    <% end %>

    <%= link_to carrier_shipments_pre_transit_path, class: "btn btn-primary" do %>
      Pre-Transit
    <% end %>

    <%= link_to carrier_shipments_in_transit_path, class: "btn btn-primary" do %>
      In-Transit
    <% end %>

    <%= link_to carrier_shipments_post_transit_path, class: "btn btn-primary" do %>
      Post-Transit
    <% end %>
  </div>

  <% if @deals.present? %>
    <% @deals.each do |deal| %>
      <div>
        <div>
          Deal-ID:<%= deal[:deal].id %>
        </div>
        <div>
          Ship-ID:<%= deal[:deal].shipment.id %> <%= deal[:deal].shipment.distance %>km <%= deal[:deal].shipment.rate %>円 <%= deal[:deal].shipment.car_type %> <%= deal[:deal].shipment.shipper.email %> | <%= deal[:deal].carrier.email %>
        </div>

        <div>
          P-ID:<%= deal[:pickup][:location].id %> <%= deal[:pickup][:location].facility.name %> <%= deal[:pickup][:location].commodity %> <%= deal[:pickup][:location].weight %>kg (<%= deal[:pickup][:location].is_for %>)
        </div>

        <div>
          D-ID:<%= deal[:delivery][:location].id %> <%= deal[:delivery][:location].facility.name %> (<%= deal[:delivery][:location].is_for %>)
        </div>

        <div>
          <p><%= deal[:deal].created_at.getlocal.strftime("%Y/%m/%e - %H:%M%p") %> Status: <span style="color:blue"><%= deal[:deal].deal_status %></span></p>
        </div>

        <br>
      </div>
    <% end %>
  <% else %>
    <div>
      <p>You have no shipments yet.</p>
      <p>Find shippers who need your help!</p>
      <%= link_to shipments_path, class: "btn btn-primary" do %>
        Find New Shipments
      <% end %>
    </div>
  <% end %>

</div>
