<!-- app/views/deals/index.html.erb -->

<div class="wrapper-deals">
  <div class="container">
  <%= link_to "(Carrier)Edit your profile", edit_carrier_registration_path %>
    <h2>(<%= @deals.count %>) My Shipments(deals)</h2>
    <h3><%= current_carrier.company_name %>(<%= current_carrier.email %>)</h3>
    <%= render 'deals_nav_menu' %>

    <% if @deals.present? %>
      <%= render 'deals_shipments_list' %>
    <% else %>
      <div>
        <p>You have no shipments yet.</p>
        <p>Find shippers who need your help!</p>
        <%= link_to shipments_path, class: "btn btn-primary" do %>
          Find New Shipments
        <% end %>
      </div>
    <% end %>

  </div>
</div>
