<div class="container">
  <h2>(<%= @deals.count %>) My Shipments(deals)</h2>

  <% if @deals.present? %>
    <div>
      <%= link_to carrier_shipments_path, class: "btn btn-primary" do %>
        My Shipments
      <% end %>

      <%= link_to carrier_shipments_pre_transit_path, class: "btn btn-primary" do %>
        Pre-Transit
      <% end %>

      <%= link_to carrier_shipments_in_transit_path, class: "btn btn-primary" do %>
        In-Transit
      <% end %>

      <%= link_to carrier_shipments_post_transit_path, class: "btn btn-primary" do %>
        Post-Transit
      <% end %>
    </div>

    <% @deals.each do |deal| %>
      <div>
        <div>
          Deal-ID:<%= deal.id %>
        </div>
        <div>
          Ship-ID:<%= deal.shipment.id %> <%= deal.shipment.distance %>km <%= deal.shipment.rate %>円 <%= deal.shipment.car_type %> <%= deal.shipment.shipper.email %> | <%= deal.carrier.email %>
        </div>

        <% deal.shipment.locations.order(created_at: :asc).each do |location| %>
          <% if location.is_for == 'pickup' %>
            <div>
              P-ID:<%= location.id %> <%= location.facility.name %> <%= location.commodity %> <%= location.weight %>kg (<%= location.is_for %>)
            </div>
          <% end %>
        <% end %>

        <% deal.shipment.locations.order(created_at: :asc).each do |location| %>
          <% if location.is_for == 'delivery' %>
            <div>
              D-ID:<%= location.id %> <%= location.facility.name %> (<%= location.is_for %>)
            </div>
          <% end %>
        <% end %>

        <div>
          <p><%= deal.created_at.getlocal.strftime("%Y/%m/%e - %H:%M%p") %> Status: <span style="color:blue"><%= deal.deal_status %></span></p>
        </div>

        <br>
      </div>
    <% end %>
  <% else %>
    <div>
      <p>You have no shipments yet.</p>
      <p>Find carriers who need your help!</p>
      <%= link_to shipments_path, class: "btn btn-primary" do %>
       Find New Carriers
      <% end %>
    </div>
  <% end %>

</div>
