<div class="cardContainer cardCarrier">

  <div>
    <%= text_area_tag name="#{carrier.id}", nil, class:"carrier__id hidden" %>
    <div class="carrierImg"></div>
    <div class="cardCarrierInfo">
      <h4><%= carrier.company_name %></h4>
          <ul class="cardListContainer">
        <% carrier.favorite_products.each do |product| %>
          <li class="cardListItem"><%= product %></li>
        <% end %>
      </ul>
      <p><%= carrier.prefecture %> <%= carrier.ward %></p>
      <p class="hidden"><%= carrier.street %> #-##-##</p>
      <p class="hidden"><%= carrier.phone %></p>
      <p>www.<%= carrier.company_name %>.co.jp</p>
    </div>
  </div>

  <div>


  </div>



</div>