<div class="cardWrapper cardCarrier">
  <%= text_area_tag name="#{carrier.id}", nil, class:"carrier__id hidden" %>

  <!------------------- START / SUMMARY ------------------->
  <div class="cardCSummary">
    <div class="cardCSummaryLeft">
      <div class="carrierImg">
        <% if carrier.photo != nil %>
          <%= cl_image_tag carrier.photo.path, width:190, height:120, crop: :fill, gravity:'face:center' %>
        <% else %>
          <%= inline_svg "carrier_default.svg", width:190, height:120, crop: :fill %>
        <% end %>
      </div>
      <div class="carrierIntro">
        <p class="carrierName">
          <%= carrier.company_name %>
          <span>
            /&ensp;<%= carrier.prefecture %>&emsp;<%= carrier.ward %>
          </span>
        </p>
        <p><%= carrier.strength_1 %></p>
        <p><%= carrier.strength_2 %></p>
      </div>
    </div>
    <div class="cardCSummaryRight carrierSpecialties">
      <% spOrder = ["会社規模", "緊急対応", "運送地域", "価格", "車両種類"] %>
      <% for i in 0...(spOrder.length) %>
      <div>
        <% inputIndex = carrier.specialties.index(spOrder[i]) %>
        <% case inputIndex %>
        <% when 0 %>
          <%= inline_svg "gDblCircle.svg" %>
        <% when 4 %>
          <%= inline_svg "gTriangle.svg" %>
        <% else %>
          <%= inline_svg "gCircle.svg" %>
        <% end %>
        <p><%= spOrder[i] %></p>
      </div>
      <% end %>
    </div>
  </div>
  <!------------------- END / SUMMARY ------------------->

  <!------------------- START / DETAIL INFO ------------------->
  <div class="cardCDetail">
    <div class="cardCDetailLeft">
      <div class="infoAndContact">
        <div class="cardCDetailContact">
          <p>
            <i class="fas fa-map-marker-alt"></i>&emsp;<%= carrier.prefecture %>&emsp;<%= carrier.ward %>&emsp;<%= carrier.street %>
          </p>
          <p>
            <i class="fas fa-phone"></i>&emsp;<%= carrier.phone %>
          </p>
          <% if carrier.fax != "" %>
            <p>
              <i class="fas fa-fax"></i>&emsp;<%= carrier.fax %>
            </p>
          <% end %>
          <p>
            <i class="far fa-envelope"></i>&emsp;<%= carrier.email %>
          </p>
          <% if carrier.site_url != "" %>
            <p>
              <i class="fas fa-desktop"></i>&emsp;<%= carrier.site_url %>
            </p>
          <% end %>
        </div>
        <div class="cardCDetailInfo">
          <p>代表者：<%= carrier.ceo_name %></p>
          <p>創&emsp;業：<%= carrier.founded_date_year %>年<%= carrier.founded_date_month %>月</p>
          <p>資本金：<%= carrier.capital %></p>
          <p>従業員：<%= carrier.employee_numbers %></p>
        </div>
      </div>
      <!-- ATTENTION! The 3 <p> tags below are intentionally on a single line to prevent white-space. -->
      <p class="cardCDetailDesciption"><%= carrier.company_description %></p>
      <p class="cardCDetailProducts"><span>運送品目：</span><% carrier.favorite_products.each do |product| %><% unless product.equal? carrier.favorite_products.last %><span><%= product %>、</span><% else %><span><%= product %></span><% end %><% end %></p>
      <p class="cardCDetailPrefectures"><span>運送地域：</span><% carrier.areas_covered.each do |prefecture| %><% unless prefecture.equal? carrier.areas_covered.last %><span><%= prefecture %>、</span><% else %><span><%= prefecture %></span><% end %><% end %></p>
    </div>
    <div class="cardCDetailRight">
      <table class="" cellspacing="0">
        <thead>
          <tr>
            <th>積載量</th>
            <th>仕様</th>
            <th>台数</th>
          </tr>
        </thead>
        <tbody>
          <% vehicles = carrier.vehicles.sort_by { |obj| obj.load_capacity.to_i } %>
          <% for i in 0...(vehicles.length) %>
          <tr>
            <td>
              <% if vehicles[i].load_capacity == "１トン未満" || vehicles[i].load_capacity == "1トン未満" %>
                1t未満
              <% else %>
                <%= vehicles[i].load_capacity %>t
              <% end %>
            </td>
            <td>
              <% if vehicles[i].vehicle_type != "標準" %>
                <%= vehicles[i].vehicle_type %><br>
              <% end %>
              <% if vehicles[i].type_specifications != "標準" %>
                <%= vehicles[i].type_specifications %><br>
              <% end %>
              <% if vehicles[i].feature != "標準" %>
                <%= vehicles[i].feature %>
              <% end %>
            </td>
            <td><%= vehicles[i].quantity %>台</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!------------------- END / DETAIL INFO ------------------->

  <!------------------- START / SHOW DETAIL ------------------->
  <div class="cardCShowDetail">
    <p data-name="clickToOpen">
      <i class="fas fa-caret-down"></i>
      &emsp;詳細を見る&emsp;
      <i class="fas fa-caret-down"></i>
    </p>
    <p class="hidden" data-name="clickToClose">
      <i class="fas fa-caret-up"></i>
      &emsp;閉じる&emsp;
      <i class="fas fa-caret-up"></i>
    </p>
  </div>
  <!------------------- END / SHOW DETAIL ------------------->

</div>