<div class="cardContainer cardCarrier">
  <%= text_area_tag name="#{carrier.id}", nil, class:"carrier__id hidden" %>

  <!-- CARRIER PHOTO -->
  <% if carrier.photo != nil %>
    <%= cl_image_tag carrier.photo.path, class: "carrierImg", crop: :fill %>
  <% else %>
    <%= inline_svg "carrier_default.svg", class: "carrierImg", crop: :fill %>
  <% end %>

  <!-- CARRIER TEXT -->
  <div class="cardCInfo">
    <h4><%= carrier.company_name %></h4>
    <p><%= carrier.strength_1 %></p>
    <p><%= carrier.strength_2 %></p>
    <p><%= carrier.prefecture %>&emsp;<%= carrier.ward %></p>
  </div>

  <!-- CARRIER SPECIALTIES -->
  <div class="cardCSpecial">
    <% spOrder = ["会社規模", "緊急対応", "運送地域", "価格", "車両種類"] %>
    <% for i in 0...(spOrder.length) %>
      <div>
        <% inputIndex = carrier.specialties.index(spOrder[i]) %>
        <% case inputIndex %>
        <% when 0 %>
          <%= inline_svg "gDblCircle.svg" %>
        <% when 4 %>
          <%= inline_svg "gTriangle.svg" %>
        <% else %>
          <%= inline_svg "gCircle.svg" %>
        <% end %>
        <p><%= spOrder[i] %></p>
      </div>
    <% end %>
  </div>

</div>