<div class="inputContainer">
  <h3>荷物の配達先</h3>
  <%= f.simple_fields_for :deliveries do |d| %>

    <div class="inputGroup row">
      <%= d.input :post_code, label: "郵便番号", wrapper_html: {class: "col-xs-4"}, required: true %>
    </div>

    <div class="inputGroup row">
      <%= d.input :prefecture, label: "都道府県", wrapper_html: {class: "col-xs-4"}, required: true %>
      <%= d.input :ward, label: "市区町村", wrapper_html: {class: "col-xs-8"}, required: true %>
    </div>

    <%= d.input :street, label: "住所", required: true %>
    <%= d.input :time, label: "配達希望時間", collection: %w(平日の午前 平日の午後 月曜日の午後 月曜日の早朝 その他), prompt: "選択してください", required: true %>

  <% end %>
</div>