<div class="inputContainer">
  <h3>荷物の集荷先</h3>
  <%= f.simple_fields_for :pickups do |p| %>

    <div class="inputGroup row">
      <%= p.input :post_code, label: "郵便番号", wrapper_html: {class: "col-xs-12 col-sm-4"}, required: true %>
    </div>

    <div class="inputGroup row">
      <%= p.input :prefecture, label: "都道府県", wrapper_html: {class: "col-xs-12 col-sm-4"}, required: true %>
      <%= p.input :ward, label: "市区町村", wrapper_html: {class: "col-xs-12 col-sm-8"}, required: true %>
    </div>

    <%= p.input :street, label: "住所", required: true %>
    <%= p.input :time, label: "集荷希望時間", collection: %w(平日の午前 平日の午後 月曜日の午後 月曜日の早朝 その他), prompt: "選択してください", required: true %>
    <%= p.input :category, label: "荷物の種類", collection: Carrier::FAVORITE_PRODUCTS, required: true, prompt: "選択してください", include_hidden: false  %>

    <div class="inputGroup row">
      <%= p.input :size_width, label: "横幅 (cm)", required: true, wrapper_html: { class: "col-xs-4" } %>
      <%= p.input :size_depth, label: "奥行 (cm)", required: true, wrapper_html: { class: "col-xs-4" } %>
      <%= p.input :size_height, label: "縦幅 (cm)", required: true, wrapper_html: { class: "col-xs-4" } %>
    </div>

    <%= p.input :weight, label: "単体重量 (kg)", required: true %>
    <%= p.input :quantity, label: "個数 (1回の運送につき、発送する予定の数)", required: true %>
    <%= p.input :temperature, label: "温度管理", collection: %w(常温 保冷 冷蔵 冷凍 分からない), prompt: "選択してください", required: true %>
    <%= p.input :additional_info, label: "備考欄 (記入例：フォークリフト必要)", required: false %>

  <% end %>
</div>
