<section id="shipmentFormNew" class="container-fluid shipper slimMedium">

  <% if params[:action] == 'new' %>
    <h2>運送案件を作成する</h2>
  <% else %>
    <h2>運送案件を変更する</h2>
  <% end %>

  <%= simple_form_for @shipment do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= render 'inputProduct', f: f %>
      <%#= render 'inputNestedPickupLocation', f: f %> <!-- For future use -->
      <%= render 'inputPickupLocation', f: f %>
      <%= render 'inputDeliveryLocation', f: f %>
      <div class="form-actions">
        <%= f.button :submit, "マッチする運送業者を表示", class:"btnNull btnWidth100" %>
      </div>
    </div>
  <% end %>

</section>



<script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
<%= render partial: 'shared/jquery.jpostal', formats: :js %>  <!-- JS for automated address input upon postal code input -->
<%= render partial: 'shared/jpostal.shipmentActivator', formats: :js %>