<div class="container">
  <h1>Shipments</h1>
  <% if @shipments.present? %>
    <% @shipments.each do |shipment| %>
      <div>
        <p>
          <%= link_to "Details", shipment_path(shipment) %>
          Ship-ID:<%= shipment.id %> <%= shipment.distance %>km <%= shipment.rate %>yen <%= shipment.car_type %> <%= shipment.shipper.email %>
        </p>
      </div>
    <% end %>
  <% else %>
    <div>
      <p>No Shipments yet.</p>
    </div>
  <% end %>
</div>
