<div class="container">
  <% @shipments.each do |shipment| %>
  <div>
    <%= link_to "Details", shipment_path(shipment) %>
    Ship-ID:<%= shipment.id %> <%= shipment.distance %>km <%= shipment.rate %>yen <%= shipment.car_type %> <%= shipment.shipper.email %>
  </div>
  <% end %>
</div>
