<div class="wrapper-shipments">
  <div class="container">
  <div>
    <%= simple_form_for :search, method: :get, html: {class: 'form-inline'} do |f| %>
      <%= f.input :p_start_date, as: :date, label: false, prompt: "発地日" %>
      <%= f.input :p_prefecture, label: false, collection: ["東京都", "神奈川県", "大阪府", "北海道"], prompt: "発地（県）" %>
      <%= f.input :d_start_date, label: false, prompt: "着地日" %>
      <%= f.input :d_prefecture, label: false, collection: ["東京都", "神奈川県", "大阪府", "北海道"], prompt: "着地（県）" %>
      <%= f.button :submit, "SEARCH", class: "btn btn-primary" %>
    <% end %>
  </div>

  <h1><%= @shipments.count %> Shipments</h1>
  <% if @shipments.present? %>
    <div class="search-results-row">
      <div class="search-results-row-nColumn shipment-details">
        <div>Details</div>
      </div>
      <div class="search-results-row-nColumn shipment-id">
        <div>ID</div>
      </div>
      <div class="search-results-row-nColumn shipment-pickup-start-date">
        <div>発地日</div>
      </div>
      <div class="search-results-row-nColumn shipment-pickup-prefecture">
        <div>発地-P</div>
      </div>
      <div class="search-results-row-nColumn shipment-pickup-address">
        <div>発地-A</div>
      </div>
      <div class="search-results-row-nColumn shipment-delivery-start-date">
        <div>着地日</div>
      </div>
      <div class="search-results-row-nColumn shipment-delivery-prefecture">
        <div>着地-P</div>
      </div>
      <div class="search-results-row-nColumn shipment-delivery-address">
        <div>着地-A</div>
      </div>
      <div class="search-results-row-nColumn shipment-distance">
        <div>距離</div>
      </div>
      <div class="search-results-row-nColumn shipment-rate">
        <div>運賃</div>
      </div>
      <div class="search-results-row-nColumn shipment-car-type">
        <div>車種</div>
      </div>
      <div class="search-results-row-nColumn shipper-email">
        <div>Shipper Email</div>
      </div>
    </div>
    <% @shipments.each do |shipment| %>
      <div class="search-results-row">
        <div class="search-results-row-nColumn shipment-details">
          <div><%= link_to "詳細", shipment_path(shipment[:shipment]) %></div>
        </div>
        <div class="search-results-row-nColumn shipment-id">
          <div><%= shipment[:shipment].id %></div>
        </div>
        <div class="search-results-row-nColumn shipment-pickup-start-date">
          <div><%= shipment[:pickup].start_date.strftime("%m/%d") %></div>
        </div>
        <div class="search-results-row-nColumn shipment-pickup-prefecture">
          <div><%= shipment[:pickup].prefecture %></div>
        </div>
        <div class="search-results-row-nColumn shipment-pickup-address">
          <div><%= shipment[:pickup].address %></div>
        </div>
        <div class="search-results-row-nColumn shipment-delivery-start-date">
          <div><%= shipment[:delivery].start_date.strftime("%m/%d") %></div>
        </div>
        <div class="search-results-row-nColumn shipment-delivery-prefecture">
          <div><%= shipment[:delivery].prefecture %></div>
        </div>
        <div class="search-results-row-nColumn shipment-delivery-address">
          <div><%= shipment[:delivery].address %></div>
        </div>
        <div class="search-results-row-nColumn shipment-distance">
          <div><%= shipment[:shipment].distance %>KM</div>
        </div>
        <div class="search-results-row-nColumn shipment-rate">
          <div><%= shipment[:shipment].offer_rate %>円</div>
        </div>
        <div class="search-results-row-nColumn shipment-car-type">
          <div><%= shipment[:shipment].car_type %></div>
        </div>
        <div class="search-results-row-nColumn shipper-email">
          <div><%= shipment[:shipment].shipper.email %></div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div>
      <p>No Shipments yet.</p>
    </div>
  <% end %>
</div>

</div>
