<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h1>new shipment</h1>
      <%= simple_form_for @shipment do |f| %>
        <%= f.error_notification %>

        <%= f.input :distance, input_html: { value: '550' } %>
        <%= f.input :rate, input_html: { value: '55000' } %>
        <%= f.input :commodity, collection: ["tables", "chairs", "beds"], prompt: "Choose a Commodity", label: "Commodity Description" %>
        <%= f.input :weight, input_html: { value: '100' } %>
        <%= f.input :car_type, collection: ["van", "reefer", "flatbed"], prompt: "Choose a Truck Type", label: "Truck Type" %>

        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
