<section>
  <div>
    <h1>results carrier</h1>
    <p>荷物の種類: <%= @query[:category] %></p>
    <p>温度管理: <%= @query[:temperature] %></p>

    <h2>Pickup</h2>
    <p>温度管理: <%= @query[:pickup_post_code] %></p>
    <p>温度管理: <%= @query[:pickup_prefecture] %></p>
    <p>温度管理: <%= @query[:pickup_ward] %></p>

    <h2>Delivery</h2>
    <p>温度管理: <%= @query[:delivery_post_code] %></p>
    <p>温度管理: <%= @query[:delivery_prefecture] %></p>
    <p>温度管理: <%= @query[:delivery_ward] %></p>

  </div>
</section>
