<section id="shipperCarrierMatches" class="container-fluid shipper flexTop">

  <div class="progressBarContainer">
    <div class="progressBarStep">
      <% if @shipment.available == true %>
        <p><%= link_to "運送案件を作成", edit_shipment_path(@shipment) %></p>
      <% end %>
    </div>
    <div class="progressBarStep active">
      <p>運送会社を選択</p>
    </div>
    <div class="progressBarStep">
      <p>内容を確認</p>
    </div>
    <div class="progressBarStep">
      <p>完了</p>
    </div>
  </div>

  <div class="dashboardHeader">
    <div>
      <h2>運送会社を選択</h2>
      <p>マッチする運送会社が<%= @all_carriers_two_conditions.count %>社見つかりました！</p>
    </div>
  </div>

  <div class="dashboardBody">
    <div class="cardsContainer">
      <% @all_carriers_two_conditions.each do |carrier| %>
        <%= render 'carrierCard', carrier: carrier %>
      <% end %>
    </div>
  </div>

</section>


<% if false %>
  <section>
    <div>
      <h1>results carrier</h1>
      <p>荷物の種類: <%= @query[:category] %></p>
      <p>温度管理: <%= @query[:temperature] %></p>

      <h2>Pickup</h2>
      <p>温度管理: <%= @query[:pickup_post_code] %></p>
      <p>温度管理: <%= @query[:pickup_prefecture] %></p>
      <p>温度管理: <%= @query[:pickup_ward] %></p>

      <h2>Delivery</h2>
      <p>温度管理: <%= @query[:delivery_post_code] %></p>
      <p>温度管理: <%= @query[:delivery_prefecture] %></p>
      <p>温度管理: <%= @query[:delivery_ward] %></p>

    </div>
  </section>
<% end %>
