<div class="container">
  <h1>Shipments for all users</h1>
  <div>
    <div>
      <%= link_to "Shipments", shipments_path, class: "btn btn-primary" %>
      <%#= link_to "Edit", edit_shipment_path(@shipment), class: "btn btn-primary" %>
      <%#= link_to "Delete", shipment_path(@shipment),
        method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
    </div>
    <div>
      Ship-ID:<%= @shipment.id %> <%= @shipment.distance %>km <%= @shipment.offer_rate %>yen <%= @shipment.car_type %> <%= @shipment.shipper.email %> |
    </div>


    <div>
      P-ID:<%= @pickup.id %> <%= @pickup.company_name %> <%= @pickup.start_date %> <%= @pickup.end_date %> <%= @pickup.prefecture %> <%= @pickup.ward %> <%= @pickup.category %> <%= @pickup.weight %>KG
    </div>

    <div>
      D-ID:<%= @delivery.id %> <%= @delivery.company_name %> <%= @delivery.start_date %> <%= @delivery.end_date %> <%= @delivery.prefecture %> <%= @delivery.ward %>
    </div>

    <% if current_carrier.present? %>
      <% if @message %>
        <div>
          <p style="color:red"><%= @message %></p>
        </div>
      <% else %>
        <div>
          <%= simple_form_for [@shipment, @deal] do |f| %>
            <%= f.button :submit, 'BOOK NOW', class: "btn btn-primary" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
