<div class="container">
  <h1>show for shipment</h1>
  <div>
    <div>
      Ship-ID:<%= @shipment.id %> <%= @shipment.distance %>km <%= @shipment.rate %>yen <%= @shipment.car_type %> <%= @shipment.shipper.email %> |
    </div>

    <% @locations.each do |location| %>
      <% if location.is_for == 'pickup' %>
        <div>
          P-ID:<%= location.id %> <%= location.facility.name %> <%= location.commodity %> <%= location.weight %>kg (<%= location.is_for %>)
        </div>
      <% end %>
    <% end %>

    <% @locations.each do |location| %>
      <% if location.is_for == 'delivery' %>
        <div>
          D-ID:<%= location.id %> <%= location.facility.name %> (<%= location.is_for %>)
        </div>
      <% end %>
    <% end %>

  </div>
</div>
