<div class="container">
  <h1>show for shipment</h1>
  <div>
    <div>
      Ship-ID:<%= @shipment.id %> <%= @shipment.distance %>km <%= @shipment.rate %>yen <%= @shipment.car_type %> <%= @shipment.shipper.email %> |
    </div>

    <% @locations.each do |location| %>
      <% if location.is_for == 'pickup' %>
        <div>
          P-ID:<%= location.id %> <%= location.facility.name %> <%= location.facility.prefecture %> <%= location.facility.address %> <%= location.commodity %> <%= location.weight %>kg (<%= location.is_for %>)
        </div>
      <% end %>
    <% end %>

    <% @locations.each do |location| %>
      <% if location.is_for == 'delivery' %>
        <div>
          D-ID:<%= location.id %> <%= location.facility.name %> <%= location.facility.prefecture %> <%= location.facility.address %> (<%= location.is_for %>)
        </div>
      <% end %>
    <% end %>

    <% if @message %>
      <div>
        <p style="color:red"><%= @message %></p>
      </div>
    <% else %>
      <div>
      <%= simple_form_for [@shipment, @deal] do |f| %>
        <%= f.button :submit, 'BOOK NOW', class: "btn btn-primary" %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
